<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="./../favicon.ico">

<title>Omega tester batch</title>

<!-- Bootstrap core CSS -->
<link href="./../dist/css/bootstrap.min.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="./../assets/css/ie10-viewport-bug-workaround.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="./css/dashboard.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]>
    <script src="./../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="./../assets/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


<link rel="stylesheet" type="text/css"
	href="./css/jquery.jscrollpane.css">

<link rel="stylesheet" type="text/css" href="./css/keyvalueeditor.css">
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
	<link rel="stylesheet" type="text/css" href="./css/styles-batch.css">


<script src="js/underscore-min.js"></script>


<!-- Bootstrap core JavaScript
        ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./../dist/js/jquery-1.12.4.min.js"></script>
<script>
	window.jQuery
			|| document
					.write('<script src="./../assets/js/vendor/jquery.min.js"><\/script>')
</script>
<script src="./../dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="./../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="./../assets/js/ie10-viewport-bug-workaround.js"></script>


<script src="js/split.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/tree.js"></script>
<script src="js/tool/htmlformat.js"></script>
<script src="js/tool/jsformat.js"></script>
<!-- 
<script src="js/app-common.js"></script>
 -->
<script src="js/app-batch.js"></script>




</head>

<body ng-app="TodoApp" ng-controller="TodoController">


<div style="display:none;">
	<input id="search-request1" type="text"
		   class="form-control ng-pristine ng-valid ng-touched"
		   placeholder="Search..."/>
</div>

	<nav class="navbar navbar-inverse navbar-fixed-top mynavbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#">Ω-tester</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Builder</a></li>
					<li><a href="/batch.html">Runner</a></li>
					<li ng-hide="currentAccount.name"><a data-toggle="modal"
						data-target=".at-login-modal-sm" href="#">Sign In</a></li>

					<ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
						<li><a href="#">Regular link</a></li>
						<li class="disabled"><a href="#">Disabled link</a></li>
						<li><a href="#">Another link</a></li>
					</ul>


					<li ng-show="currentAccount.name"><a
						data-target="#" href="#" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">
							{{currentAccount.name}} <span class="caret"></span>
					</a>

						<ul class="dropdown-menu" aria-labelledby="dLabel">
							<li><a id="dLabel" data-target="#" data-ng-click="logout()"
								href="#" role="button" aria-haspopup="true"
								aria-expanded="false"> Logout </a></li>
						</ul></li>


				</ul>

			</div>
		</div>
	</nav>

	<div class="container-fluid split-box">
		<div id="a" class="split split-horizontal">

			<div id="sidebar" class="batch-sidebar">
				<div id="header" class="clearfix hide"></div>
				<div id="sidebar-sections" class="clearfix">
					<div id="history-options" class="section-options">
						<a class="history-actions-delete" rel="tooltip"
							data-placement="bottom" data-original-title="Clear history">

						</a>
					</div>
					<div ng-show="collectionsOrHistory" id="collections-options"
						class="section-options">
						<span class="expanded glyphicon glyphicon-folder-close"></span> <span
							class="expanded glyphicon glyphicon-folder-open "></span>
					</div>
					<ul id="sidebar-selectors" class="nav nav-pills">
						<li ng-click="onClickHistoryTab()" class="hide"><a
							href="#sidebar-section-history" data-id="history"
							data-toggle="tab">History</a></li>
						<li ng-click="onClickBatchTab()" class="active"><a
							href="#sidebar-section-collections" data-id="collections"
							data-toggle="tab">Batch</a></li>
					</ul>
					<div id="sidebar-section-data" class="sidebar-section-data">
						<div ng-hide="batchOrHistory" class="tab-pane"
							id="sidebar-section-history">
							<ul id="history-items" class="clearfix">



								<li ng-repeat="tab in reqHistoryList track by $index "
									data-idx="{{$index}}" role="presentation"
									class="{{tab.active}}"><a class="a-tab"
									data-ng-click="onClickHistoryItem(tab)" href="#home"
									aria-controls="home" role="tab" data-toggle="tab">

										<div>
											<span>{{tab.req.method}} </span> {{tab.createdOn}}
										</div>

										<div>{{tab.req.url}}</div>


								</a></li>

							</ul>
							<div ng-hide="reqHistoryList.length"
								class="empty-message size-{{reqHistoryList.length}}">Nothing
								in your history yet. You can automatically save and access your
								sent requests here.</div>
						</div>
						<div ng-show="batchOrHistory" class="tab-pane active"
							id="sidebar-section-collections">



							<ul class="list-group list-batch">

								<li
									ng-repeat="batch in batchList | filter:batchReqGroupName | orderBy: batchId "
									role="presentation" class="list-group-item {{batch.active}} enable-{{batch.enable}}">


									<div class="row">
										<div class="col-md-10">
											<a class="a-tab" data-ng-click="onClickBatchItem(batch)"
												href="#home" aria-controls="home" role="tab"
												data-toggle="tab">

												<div>
													<i>{{batch.enable ? "Enabled" :"Disabled"}}</i>&nbsp;<span>{{batch.name}} </span>
												</div>
												<div>
													<span>{{batch.timeExpression}} </span>
												</div>

											</a>
										</div>
										<div class="col-md-2">
											<div class="btn-group dropright pull-right" style="">
												<a type="button" class="" data-toggle="dropdown"
													aria-haspopup="true" aria-expanded="false"><span
													class="glyphicon glyphicon-option-horizontal"
													aria-hidden="true"></span></a>
												<ul class="dropdown-menu dropdown-menu-right">
													<li><a data-ng-click="batchDetail(batch)"   href="#modal-edit-batch" data-toggle="modal"
														   data-backdrop="static" data-keyboard="true" ><span
															class="glyphicon glyphicon-subscript" aria-hidden="true"></span>
															Detail</a></li>
													<li><a ng-hide="batch.enable" data-ng-click="batch.enable = true;batchUpdate(batch)" href="#"><span
															class="glyphicon glyphicon-play" aria-hidden="true"></span>
															Enable</a></li>
													<li><a ng-show="batch.enable" data-ng-click="batch.enable = false;batchUpdate(batch)" href="#"><span
															class="glyphicon glyphicon-pause" aria-hidden="true"></span>
															Disable</a></li>
													<li><a data-ng-click="batchDelete(batch)" href="#"><span
															class="glyphicon glyphicon-remove" aria-hidden="true"></span>
															Delete</a></li>
												</ul>
											</div>
										</div>
									</div>

								</li>
							</ul>


							<div class="empty-message hide-true " >You
								haven't created any collections yet. Collections let you group
								requests together for quick access.</div>
						</div>
					</div>
				</div>
				<div id="sidebar-filler">



					<div class="row">
						<div class="col-md-10">
							<input  type="text" ng-model="batchReqGroupName"

									class="form-control ng-pristine ng-untouched ng-valid"
									placeholder="Search..."
									autocomplete="nope"
							/>
							<input style="position:absolute;z-index:-1;    left: -9000px;"  type="text" ng-model="batchReqGroupName2"

								   class="form-control ng-pristine ng-untouched ng-valid"
								   placeholder="Search..."
								   id="real-username"
							/>

						</div>
						<div class="col-md-2" style="padding: 6px;">
							<a href="#modal-add-batch" data-toggle="modal"
							   data-backdrop="static" data-keyboard="true">Add</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div id="b" class="split split-horizontal content">


			<div class="panel panel-default batch-history-detail-box">

				<ul class="list-group">

					<li
						ng-repeat="batchHistoryItem in batchHistoryList.slice().reverse() "
						class="list-group-item">
						<div class="progress"
							ng-click="onClickbatchHistoryTotalNum(batchHistoryItem)">
							<div class="progress-bar progress-bar-success"
								style="width: {{batchHistoryItem.successNum/batchHistoryItem.total* 100}}%">
								<span class="sr-only">35% Complete (success)</span>
							</div>
							<div class="progress-bar progress-bar-warning hide-true"
								style="width: 20%">
								<span class="sr-only">20% Complete (warning)</span>
							</div>
							<div class="progress-bar progress-bar-danger"
								style="width: {{(batchHistoryItem.total- batchHistoryItem.successNum)/batchHistoryItem.total* 100}}%">
								<span class="sr-only">10% Complete (danger)</span>
							</div>
						</div>
						<div class="batch-result-msg">

							<a href="#"
								ng-click="onClickBatchHistoryNum(batchHistoryItem, true)"> <span
								class="label label-success" title="passed">{{batchHistoryItem.successNum}}
									</span>
							</a>&nbsp;&nbsp; <a href="#"
								ng-click="onClickBatchHistoryNum(batchHistoryItem, false)"> <span
								class="label label-danger show-{{batchHistoryItem.total -
									batchHistoryItem.successNum}}" title="failed">{{batchHistoryItem.total -
									batchHistoryItem.successNum}}  </span>
							</a>

							<div class="pull-right" style="font-size: 11px;">{{batchHistoryItem.batchStartDate}}, cost: {{batchHistoryItem.costTime}} ms</div>
						</div>
						
						
					</li>

				</ul>

			</div>


		</div>

		<div id="c" class="split split-horizontal content batch-detail-split">
			<div class="panel panel-defaul batch-detail-input">
				<input id="username" style="display:none" type="text" name="fakeusernameremembered">
				<input id="password" style="display:none" type="password" name="fakepasswordremembered">


				<input id="search-request" type="text" ng-model="reqHistoryName"
					   class="form-control ng-pristine ng-valid ng-touched"
					   placeholder="Search..." autocomplete="nope"/>

			</div>

			<div class="panel panel-default batch-detail-box">
---》{{reqHistoryName}}

				<div class="batch-detail-list">
					<ul class="list-group">
					<li class="list-group-item req-result-msg"
						ng-repeat="reqHistory in reqHistoryList | reqHistoryFilter:reqHistoryName " style="overflow: hidden;">

						<div class="row">
							<div class="col-md-12">
								<div>{{reqHistory.req.name}}</div>
								<div>{{reqHistory.req.url}}</div>
							</div>

						</div>
						<div class="row">
							<div class="col-md-6">

								<div class="hide-{{reqHistory.success}}">
									<span class=" label label-danger">FAILED</span>
								</div>
								<div class="hide-{{!reqHistory.success}} ">
									<span class="label label-success">PASSED</span>
								</div>

							</div>
							<div class="col-md-6 text-right ">{{reqHistory.status}}
								<button data-ng-click="fectReqHistoryDetail(reqHistory)">Detail</button>
							</div>
						</div>
						<div data-ng-if="reqHistory.req.showDetail" class="row" style="padding: 10px 0 0 0;">
							<div class="col-md-12">



								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
										<a href="#req-data-{{reqHistory.taskHistoryId}}" aria-controls="req-data-{{reqHistory.taskHistoryId}}" role="tab" data-toggle="tab">Request data</a>
									</li>

									<li role="presentation" class="">
										<a href="#res-data-{{reqHistory.taskHistoryId}}" aria-controls="res-data-{{reqHistory.taskHistoryId}}" role="tab" data-toggle="tab">Resoone data</a>
									</li>

									<li role="presentation" class="">
										<a href="#test-result-{{reqHistory.taskHistoryId}}" aria-controls="test-result-{{reqHistory.taskHistoryId}}" role="tab" data-toggle="tab">Test result</a>
									</li>



								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="req-data-{{reqHistory.taskHistoryId}}">
										<textarea rows="10" class="form-control " data-ng-model="reqHistory.req.meta.request"></textarea>
									</div>
									<div role="tabpanel" class="tab-pane " id="res-data-{{reqHistory.taskHistoryId}}">
										<textarea rows="10" class="form-control " data-ng-model="reqHistory.reqTaskHistoryMeta.content" ></textarea>
									</div>
									<div role="tabpanel" class="tab-pane " id="test-result-{{reqHistory.taskHistoryId}}">
										<textarea rows="10" class="form-control " data-ng-model="reqHistory.reqTaskHistoryMeta.testReport"></textarea>
									</div>
								</div>

							</div>
						</div>



					</li>
				</ul>

				</div>
			</div>


		</div>
	</div>


	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg"
		data-toggle="modal" data-target="#myModal">Launch demo modal
	</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">...</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Small modal -->
	<div class="modal fade at-login-modal-sm " tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm " role="document">
			<div class="modal-content loginpanel">

				<div class="">
					<i id="loading" class="hidden fa fa-spinner fa-spin bigicon"></i>
					<h2>
						<span class="fa fa-quote-left "></span> Sign In <span
							class="fa fa-quote-right "></span>
					</h2>
					<div>
						<input id="username1" ng-model="loginModel.email" type="text"
							placeholder="Email" onkeypress="check_values();"> <input
							id="password1" ng-model="loginModel.pass" type="password"
							placeholder="password" onkeypress="check_values();">

						<div class="buttonwrapper">
							<button  ng-click="login()"
								ng-show="loginModel.email && loginModel.pass"
								class="btn btn-warning loginbutton">
								<span class="glyphicon glyphicon-hand-right"></span>
							</button>
							<span  ng-hide="loginModel.email && loginModel.pass"
								class="glyphicon glyphicon-lock lockbutton redborder"></span>
						</div>
					</div>

					<div class="box-sign-btns" >
						<a data-toggle="modal" data-target=".at-register-modal-sm"
						   href="#" data-dismiss="modal" aria-label="Close"> Sign Up</a>


					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- Small modal  -->
	<div class="modal fade at-register-modal-sm " tabindex="-1"
		role="dialog" aria-labelledby="registerModalLabel">
		<div class="modal-dialog modal-sm " role="document">
			<div class="modal-content loginpanel">

				<div class="">
					<i id="loading1" class="hidden fa fa-spinner fa-spin bigicon"></i>
					<h2>
						<span class="fa fa-quote-left "></span> Sign Up <span
							class="fa fa-quote-right "></span>
					</h2>
					<div>
						<input id="username" ng-model="registerModel.name" type="text"
							placeholder="Name" onkeypress="check_values();"> <input
							id="Email" ng-model="registerModel.email" type="text"
							placeholder="Email" onkeypress="check_values();"> <input
							id="password" ng-model="registerModel.pass" type="password"
							placeholder="Password" onkeypress="check_values();">

						<div class="buttonwrapper">
							<button id="loginbtn" ng-click="register()"
								ng-show="registerModel.name && registerModel.email && registerModel.pass"
								class="btn btn-warning loginbutton">
								<span class="glyphicon glyphicon-hand-right"></span>
							</button>
							<span id="lockbtn"
								ng-hide="registerModel.name && registerModel.email && registerModel.pass"
								class="glyphicon glyphicon-lock lockbutton redborder"></span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<div id="modal-edit-batch" class="modal fade" data-keyboard="true"
		 tabindex="-1" aria-hidden="true" role="dialog"
		 aria-labelledby="editBatchModalLabel">

		<div class="modal-dialog" role="document">
			<div class="modal-content">


				<div class="modal-header">
					<a class="close" data-dismiss="modal"
					   id="modal-share-collection-close1">x</a>

					<h4 class="modal-title">Edit batch</h4>
				</div>

				<div class="modal-body">
					<form class="form-horizontal" id="form-edit-to-collection">

						<div class="form-group">
							<label class="col-sm-4 control-label" >Batch
								name</label>

							<div class="col-sm-8">
								<input ng-model="currentEditBatch.name" type="text"
									   class="form-control" id="new-request-name" />
							</div>
						</div>

						<div class="form-group">
							<label  class="col-sm-4 control-label">Groups
							</label>
							<div class="col-sm-8">
								<select ng-model="currentEditBatch.groupId"
										name="select-collection" class="form-control"
										id="select-collection1">

									<option value="">Select</option>

									<option ng-repeat="gr in groupList "

											ng-selected="gr.groupId==currentEditBatch.groupId"
											value="{{gr.groupId}}">{{gr.name}}</option>

								</select>
							</div>
						</div>

						<div class="form-group">
							<label  class="col-sm-4 control-label">Env
							</label>
							<div class="col-sm-8">
								<select ng-model="currentEditBatch.envSettingId"
										name="select-collection" class="form-control"
										id="select-collection">

									<option value="">Select</option>

									<option ng-repeat="setting in settingList "

											ng-selected="setting.id==currentEditBatch.envSettingId"

											ng-show="{{setting.type == 'ENV'}}" value="{{setting.id}}">{{setting.name}}</option>

								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label" >Time
								Expression </label>

							<div class="col-sm-8">
								<input ng-model="currentEditBatch.timeExpression" type="text"
									   class="form-control"  />
								<p>
									<code>0 0/5 * * * ?</code>
									//every 5 minutes
								</p>
								<p>
									<code>0 0 8 * * ?</code>
									//every day at 8:00
								</p>
							</div>

						</div>


						<div class="form-group">
							<label class="col-sm-4 control-label" >Request
								description</label>

							<div class="col-sm-8">
								<textarea ng-model="currentEditBatch.description"
										  class="form-control" id="new-request-description"></textarea>
							</div>
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<a data-dismiss="modal" class="btn btn-primary"
					   ng-click="batchEdit()">Save</a> <a data-dismiss="modal"
														 class="btn btn-secondary">Cancel</a>
				</div>
			</div>
		</div>
	</div>


	<div id="modal-add-batch" class="modal fade" data-keyboard="true"
		tabindex="-1" aria-hidden="true" role="dialog"
		aria-labelledby="myModalLabel">

		<div class="modal-dialog" role="document">
			<div class="modal-content">


				<div class="modal-header">
					<a class="close" data-dismiss="modal"
						id="modal-share-collection-close">x</a>

					<h4 class="modal-title">New batch</h4>
				</div>

				<div class="modal-body">
					<form class="form-horizontal" id="form-add-to-collection">

						<div class="form-group">
							<label class="col-sm-4 control-label" >Batch
								name</label>

							<div class="col-sm-8">
								<input ng-model="newBatchObj.name" type="text"
									class="form-control"  />
							</div>
						</div>

						<div class="form-group">
							<label  class="col-sm-4 control-label">Groups
							</label>
							<div class="col-sm-8">
								<select ng-model="newBatchObj.groupId"
									name="select-collection" class="form-control"
									id="select-groupId-collection1">

									<option value="">Select</option>

									<option ng-repeat="gr in groupList " value="{{gr.groupId}}">{{gr.name}}</option>

								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label  class="col-sm-4 control-label">Env
							</label>
							<div class="col-sm-8">
								<select ng-model="newBatchObj.envSettingId"
									name="select-collection" class="form-control"
									>

									<option value="">Select</option>

									<option ng-repeat="setting in settingList " ng-show="{{setting.type == 'ENV'}}" value="{{setting.id}}">{{setting.name}}</option>

								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label" >Time
								Expression </label>

							<div class="col-sm-8">
								<input ng-model="newBatchObj.timeExpression" type="text"
									class="form-control"  />
								<p>
									<code>0 0/5 * * * ?</code>
									//every 5 minutes
								</p>
								<p>
									<code>0 0 8 * * ?</code>
									//every day at 8:00
								</p>
							</div>

						</div>


						<div class="form-group">
							<label class="col-sm-4 control-label" >Request
								description</label>

							<div class="col-sm-8">
								<textarea ng-model="newBatchObj.description"
									class="form-control" ></textarea>
							</div>
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<a data-dismiss="modal" class="btn btn-primary"
						ng-click="batchAdd()">Save</a> <a data-dismiss="modal"
						class="btn btn-secondary">Cancel</a>
				</div>
			</div>
		</div>
	</div>


</body>
</html>
